
@model IEnumerable<mvc_practice.Clinic.DTOs.FindUserOuputDTOs>

<div class="flex w-full h-full">
    <div class="flex flex-col gap-1 w-full"> 
        <h2 class="text-xl rounded-md text-center bg-orange-700 text-white font-semibold">Usuarios</h2>
        <ul class="flex flex-col gap-2 p-1 basis-3/4 h-full overflow-y-auto">
             @if(Model != null ){
                 @foreach(var user in Model ){
                    <li class="flex flex-col gap-1 p-1 rounded-md border-b-2 border-t-2 border-black/40 cursor-pointer hover:scale-[1.02]">
                        <a asp-asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">
                            <div class="flex gap-1">
                                <h3 class="text-lg">@user.allName</h3>
                                <span class="text-sm font-bold text-green-500">activo</span>
                            </div>
                            <div class="flex gap-1 text-sm">
                                <p class="flex flex-col gap-1">
                                    <span>Email:</span>
                                    <span>Numero de dui:</span>
                                    <span>Role:</span>
                                </p>
                                <p class="flex flex-col gap-1">
                                    <span>@user.email</span>
                                    <span>@user.dui</span>
                                    <span>@user.role</span>
                                </p>
                            </div>
                        </a>
                    </li>
                }
             }
             else {
                <p>No existen usuarios</p>
             }
        </ul>
    </div>

    <a 
    asp-controller="User" 
    asp-action="Create"
    class="text-2xl h-14 w-14 rounded-full absolute bg-orange-700 text-white cursor-pointer 
    hover:scale-[1.02] pt-2 hover:border-2 text-center hover:border-orange-700 hover:text-orange-700 hover:bg-white bottom-28 right-0">
        +
    </a>
</div>   
